html,
body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

.content-section {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.content-section__grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.content-section__grid > div {
  flex: 1 1 100%;
  height: 50vh;
}

@media screen and (min-width: 640px) {
  .content-section__grid > div {
    flex: 1 1 50%;
    height: 50vh;
  }
}